<form (ngSubmit)="submitForm()" [formGroup]="form" novalidate>
    <div class="form-group" [class.has-error]="isInvalid('firstName')">
        <label for="firstName" class="control-label">First Name*</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName">
        <span class="help-block" *ngIf="isInvalid('firstName')">First Name is required.</span>
    </div>

    <div class="form-group" [class.has-error]="isInvalid('lastName')">
        <label for="lastName" class="control-label">Last Name*</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName">
        <span class="help-block" *ngIf="isInvalid('lastName')">Last Name is required.</span>
    </div>

    <div class="form-group">
        <label for="age" class="control-label">Age</label>
        <input type="number" class="form-control" id="age" formControlName="age">
    </div>

    <div class="form-group">
        <label for="handedness" class="control-label">Handedness</label>
        <select id="handedness" class="form-control" formControlName="handedness">
            <option value="left" selected>Left</option>
            <option value="right">Right</option>
            <option value="ambidextrous">Ambidextrous</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
