/* Container for Each Cat's Detail */
div {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  background-color: #fff2e6;
  text-align: center;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
