// // Add global styles
// /* Master Styles */
h1 {
  color: #87613d;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
  width: 340px;
  height: auto;
  padding: 30px 20px 0 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

h2,
h3,
h4 {
  color: #c3b09e;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}

/* For Titles of each component i.e. "List of all Cats Available for Adoption"*/
h4 {
  margin-bottom: 0;
  border-bottom: thin dotted #87613d;
}

body {
  margin: 2em;
  background-color: #ffc185;;
}

body,
input[text],
button {
  color: #888;
  font-family: Georgia, serif;
}

a {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  font-family: Georgia, serif;
  cursor: pointer;
  &:hover {
    background-color: #cfd8dc;
  }
  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
}

/* Logo Image */
img {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}
